# Entornos virtuales
venv/
env/

# Archivos de configuración y credenciales
*.env
instance/
config.py

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de log
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de jupyter notebooks checkpoints
.ipynb_checkpoints/

# Directorios de desarrollo en IDEs
.idea/
.vscode/

# Archivos creados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de distribución
dist/
build/
*.egg-info/
