{% extends 'base.html' %}

{% block title %}Editar Libro - Sistema de Gestión de Préstamos{% endblock %}

{% block content %}
<h1>Editar Libro</h1>
<form method="POST">
    <div class="form-group">
        <label for="nombre_autor">Nombre del Autor:</label>
        <input type="text" class="form-control" id="nombre_autor" name="nombre_autor" value="{{ book.nombre_autor }}" required>
    </div>
    <div class="form-group">
        <label for="fecha_nacimiento_autor">Fecha de Nacimiento del Autor:</label>
        <input type="date" class="form-control" id="fecha_nacimiento_autor" name="fecha_nacimiento_autor" value="{{ book.fecha_nacimiento_autor.strftime('%Y-%m-%d') }}" required>
    </div>
    <div class="form-group">
        <label for="lugar_nacimiento_autor">Lugar de Nacimiento del Autor:</label>
        <input type="text" class="form-control" id="lugar_nacimiento_autor" name="lugar_nacimiento_autor" value="{{ book.lugar_nacimiento_autor }}" required>
    </div>
    <div class="form-group">
        <label for="nombre_libro">Nombre del Libro:</label>
        <input type="text" class="form-control" id="nombre_libro" name="nombre_libro" value="{{ book.nombre_libro }}" required>
    </div>
    <div class="form-group">
        <label for="fecha_publicacion">Fecha de Publicación:</label>
        <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" value="{{ book.fecha_publicacion.strftime('%Y-%m-%d') }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% endblock %}