{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Préstamos de Libros{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido al Sistema de Préstamos de Libros</h1>
    <p class="lead">Gestiona los préstamos de libros para los estudiantes de la Institución Universitaria Pascual Bravo.</p>
    <hr class="my-4">
    <p>Realiza un préstamo del libro que tanto has querido leer.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('new_loan') }}" role="button">Nuevo préstamo</a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestión de Estudiantes</h2>
        <p>Administra la información de los estudiantes.</p>
        <p><a class="btn btn-secondary" href="{{ url_for('list_students') }}" role="button">Estudiantes &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Gestión de Libros</h2>
        <p>Administra la información de los libros.</p>
        <p><a class="btn btn-secondary" href="{{ url_for('list_books') }}" role="button">Libros &raquo;</a></p>
    </div>
</div>
{% endblock %}