{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Préstamos de Libros{% endblock %}

{% block content %}
<div class="jumbotron py-4">
    <h1 class="display-5">Bienvenido al Sistema de Préstamos de Libros</h1>
    <p class="lead">Gestiona los préstamos de libros para los estudiantes de la Institución Universitaria Pascual Bravo.</p>
    <hr class="my-4">
    <p>Realiza un préstamo del libro que tanto has querido leer.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('new_loan') }}" role="button">Nuevo préstamo</a>
</div>

<div class="row">
    <div class="col-12 col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Gestión de Estudiantes</h2>
                <p class="card-text">Administra la información de los estudiantes.</p>
                <a class="btn btn-outline-primary" href="{{ url_for('list_students') }}">Estudiantes &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Gestión de Libros</h2>
                <p class="card-text">Administra la información de los libros.</p>
                <a class="btn btn-outline-success" href="{{ url_for('list_books') }}">Libros &raquo;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}