{% extends 'base.html' %}

{% block title %}Agregar Estudiante - Sistema de Gestión de Préstamos{% endblock %}

{% block content %}
<h1>Agregar Estudiante</h1>
<form method="POST" id="studentForm">
    <div class="form-group">
        <label for="nombre_completo">Nombre Completo:</label>
        <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" pattern="[A-Za-zÀ-ÿ\s]+" title="Solo se permiten letras y espacios, incluidas las tildes" required>
    </div>
    <div class="form-group">
        <label for="documento_identificacion">Documento de Identificación:</label>
        <input type="text" class="form-control" id="documento_identificacion" name="documento_identificacion" pattern="\d+" title="Solo se permiten números" required>
    </div>
    <div class="form-group">
        <label for="programa">Programa:</label>
        <input type="text" class="form-control" id="programa" name="programa" pattern="[A-Za-zÀ-ÿ\s]+" title="Solo se permiten letras y espacios, incluidas las tildes" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Estudiante</button>
</form>

<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}